/************************************************ 
*General
*************************************************/
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body,
#slide-wrapper,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 100vh;
}

/* I customized the wicked cool background on my homepage at SVGBackgrounds.com.  */
body {
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

main {
  text-align: center;
}

h1 {
  color: #fff;
}

/************************************************ 
* Page Slider
*************************************************/

#slide-wrapper {
  position: relative;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/************************************************ 
* Search form
*************************************************/
.search-form {
  max-width: 400px;
  margin: 20px auto;
}

input {
  width: 100%;
  padding: 20px;
  display: flex;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 5px solid #F7F7F7;
  width: 120%;
  left: -15%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  /*perspective: 20px;*/
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 1s, color .1s;
  display: flex;
  justify-content: space-between;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%);
}

span.zipCode {
  font-size: 15px;
}

.suggestions li:hover {
  background: #210024;
  color: #fff;
}

.hl {
  background: #ff9D00;
  color: #080808;
}

/************************************************ 
* Loading Screen
*************************************************/

#page-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Style the svg circles */
#page-loader {
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 0;
}

/* actually styles the circles */
#page-loader circle {
  fill: none;
  stroke-width: 10;
}

#page-loader circle:nth-child(1) {
  stroke: paleturquoise;
  /* Sets the color of the stroke (ourside of the circle)*/
  stroke-dasharray: 70;
  /* cuts the circle into smaller pieces*/
  stroke-linecap: round;
  /*rounds the end of the stroke*/
  animation-delay: -.2s;
  /*sets the delay for each circle and their animation*/
}

#page-loader circle:nth-child(2) {
  stroke: salmon;
  stroke-dasharray: 130;
  stroke-linecap: round;
  animation-delay: -.4s;
}

#page-loader circle:nth-child(3) {
  stroke: lightskyblue;
  stroke-dasharray: 200;
  stroke-linecap: round;
  animation-delay: -.6s;
}

#page-loader circle:nth-child(4) {
  stroke: khaki;
  stroke-dasharray: 280;
  stroke-linecap: round;
  stroke-dashoffset: -100;
  /* offsets the stroke*/
  animation-delay: -.8s;
}

/* Animate the circles */
@keyframes loader {
  50% {
    /*50% allows the circle to return to the exact same position it starts at*/
    transform: rotate(360deg);
  }
}

#page-loader circle {
  /* animation-name: loader;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
    is the same as the following: */
  animation: loader 4s infinite ease-in-out;

  transform-origin: center center;
  /* 50% 50%*/
}

/************************************************ 
* Weather info
*************************************************/

.weather-info {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  background: #210024;
  color: #fff;
  border-radius: 15px;
  width: 90%;
}

/*********** Weather summary */
.weatherSummary {
  width: 90%;
  background: #212d40;
  color: #fff;
  opacity: .9;
  border-radius: 5px;
}

.detail-box {
  display: inline-block;
  margin: 20px;
  background: #FF9D00;
  padding: 10px;
  color: #000;
  border-radius: 5px;
  height: 80px;
  width: 140px;
  text-shadow: 1px 1px #fff;
}

.label {
  font-weight: bold;
  margin-bottom: 0px;
  background: #FF9D00;
  position: relative;
  animation: text 2s 1;
}

.value {
  font-style: oblique;
}

@keyframes text {
  0% {
    color: #FF9D00;
    margin-bottom: -35px;
  }

  30% {
    letter-spacing: 5px;
    margin-bottom: -35px;
  }

  85% {
    letter-spacing: 2px;
    margin-bottom: -35px;
  }
}

.forecast h3 {
  text-align: center;
}

/************************************************ 
* 5 Day forecast
*************************************************/
table {
  width: 90%;
  margin: 5px auto 15px;
  background: rgba(255, 255, 255, 0.712);
  color: #201d23;
  border-radius: 5px;
}

table,
th,
td {
  border: 1.5px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

table {
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/************************************************ 
* Return button 
*************************************************/

button {
  border: 5px solid transparent;
  background: rgba(255, 255, 255, 0.712);
  color: #000;
  border-radius: 40px;
  padding: 15px 30px;
  overflow: hidden;
  width: 200px;
  transition: all 1.2s, border 0.5s 1.2s, box-shadow 0.3s 1.5s;
  white-space: nowrap;
  text-indent: 23px;
  font-weight: bold;
  margin-top: 15px;
}

button span {
  display: inline-block;
  transform: translateX(300px);
  font-weight: normal;
  opacity: 0;
  transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
}

button:hover {
  text-indent: 0;
  background: #210024;
  color: #fff;
  width: 250px;
  border: 5px solid #FF9D00;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}

button:hover span {
  transform: translateX(0);
  opacity: 1;
}
