/******************* Style the Header *******************/
body {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
}

header {
    text-align: center;
    background-color: #5ca4a9;
    font-family: 'Ubuntu', sans-serif;
    color: #e6ebe0;
}

header > img {
    display: inline-block;
    width: 5em;
    vertical-align: middle;
    margin-right: 2em;
}

.headerText {
    display: inline-block;
    vertical-align: middle;
    padding:0 2em;
}

.headerText h1 {
    font-size: 3rem;
    padding-bottom: 0;
    margin-bottom: 0em;
    text-shadow: 3px 1px 1px #65c8cfc9;
}

.motto {
    font-size: 1.1rem;
    color: #201d23;
    font-style: italic;
    padding-top: .5em;
    margin-top: 0;
    text-shadow: .2px .2px .2px #e6ebe0;
    font-weight: 900;
}

.currentWeather {
    display: inline-block;
    margin: 2em 0 1em 5em;
    padding: .75em;
    margin: 1.5em 0em 2em 2em;
    vertical-align: middle;
    color: #e6ebe0;
    background-color: #65c8cfc9;
    font-size: 1.1rem;
    box-shadow: 0px 0px 12px 2px #3332328e;
}

.currentWeather img {
    width: 60px;
    vertical-align: middle;
    padding-right: 0;
}

header p {
    display: inline-block;
    margin: .5em .5em .5em 0;
    padding: .5em .5em .5em 0;
    text-shadow: 1px 1px 1px #6f7070;
    font-weight: 800;
}

