@media only screen and (min-width: 35em) {
    .mobileNav {
        display: none;
    }
    nav ul {
        margin-left: 2%;
    }

    nav ul.hide {display: block;}
    
    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid #000;
        padding: .8rem 1rem;
    }
}