@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    color: #4d4e53;
    font-family: 'Roboto', sans-serif;
}

#navbar {
    background: #eee;
}

nav header {
    font-size: 36px;
    text-align: center;
    padding: 10px;
    position: relative;
    color: #000;
}

#scroll-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 220px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav a {
    text-decoration: none;
    font-size: 1.25em;
    padding: 10px 20px;
    border-bottom: 1px solid #000;
}

nav a:link {color: #222;}
nav a:visited {color: #666}
nav a:hover { color: #000;}
nav a:active { color: rgba(255, 255, 255, .9);}

#main-doc {
    padding: 25px;
}
.main-section {
    margin: 40px 0;
}
.main-section header {
    font-size: 26px;
    color: #000;
}

.main-section ul li {
    padding: 10px 0;
}

.code-snippet {
    padding: 15px;
    margin: 15px;
    background: #555;
    color: #fff;
    border-radius: 5px;
}

@media (min-width: 850px) {
    body {
        grid-template-columns: 30vw 1fr;
    }

    #navbar {
       position: fixed;
       width: 30vw; 
       height: 100vh;
       grid-column: 1/2;
    }

    #main-doc {
        grid-column: 2/3;
    }

    #scroll-container {
        overflow: visible;
        height: 100%;
    }
}
